# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, especially
# when borrowing unused variables from other themes.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML templates,
# you will see them referenced via {{ site.title }}, {{ site.email }}, and so on.

title: GabrielYMC | 個人官方導覽
email: ggyymail@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  這裡是 Gabriel 的個人官方導覽頁面，記錄我的學經歷、進行中專案以及技術沉澱。
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://gabrielymc.github.io" # the base hostname & protocol for your site
twitter_username: 
github_username:  GabrielYMC

# Build settings
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
